{
  "openapi": "3.1.0",
  "info": {
    "title": "Lift Simulation API",
    "version": "1.0.2",
    "description": "API for managing a lift simulation system"
  },
  "servers": [
    {
      "url": "https://projects.subhrajit.me/api/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080/api/v1",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Check API health",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/system/configure": {
      "post": {
        "summary": "Configure the lift system",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "System configured successfully"
          },
          "500": {
            "description": "Failed to configure system"
          }
        }
      }
    },
    "/system/configuration": {
      "get": {
        "summary": "Retrieve current system configuration",
        "responses": {
          "200": {
            "description": "Current system configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemConfig"
                }
              }
            }
          },
          "500": {
            "description": "Failed to get system configuration"
          }
        }
      }
    },
    "/system/status": {
      "get": {
        "summary": "Retrieve overall system status",
        "responses": {
          "200": {
            "description": "Overall system status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStatus"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve system status"
          }
        }
      }
    },
    "/system/reset": {
      "post": {
        "summary": "Reset the entire lift system",
        "responses": {
          "200": {
            "description": "System reset successfully"
          },
          "500": {
            "description": "Failed to reset system"
          }
        }
      }
    },
    "/system/metrics": {
      "get": {
        "summary": "Get system metrics",
        "responses": {
          "200": {
            "description": "System metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemMetrics"
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve system metrics"
          }
        }
      }
    },
    "/system/simulate-traffic": {
      "post": {
        "summary": "Simulate traffic in the lift system",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrafficSimulation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Traffic simulation started successfully"
          },
          "500": {
            "description": "Failed to start traffic simulation"
          }
        }
      }
    },
    "/lifts": {
      "get": {
        "summary": "List all lifts and their current states",
        "responses": {
          "200": {
            "description": "List of all lifts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lift"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve lifts"
          }
        }
      }
    },
    "/lifts/reset": {
      "put": {
        "summary": "Reset all lifts",
        "responses": {
          "200": {
            "description": "All lifts reset successfully"
          },
          "500": {
            "description": "Failed to reset lifts"
          }
        }
      }
    },
    "/lifts/{liftId}": {
      "get": {
        "summary": "Get status of a specific lift",
        "parameters": [
          {
            "name": "liftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lift status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lift"
                }
              }
            }
          },
          "404": {
            "description": "Lift not found"
          }
        }
      }
    },
    "/lifts/{liftId}/move": {
      "post": {
        "summary": "Move a specific lift to a target floor",
        "parameters": [
          {
            "name": "liftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Move request accepted"
          },
          "500": {
            "description": "Failed to move lift"
          }
        }
      }
    },
    "/lifts/{liftId}/reset": {
      "put": {
        "summary": "Reset a specific lift",
        "parameters": [
          {
            "name": "liftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lift reset successfully"
          },
          "500": {
            "description": "Failed to reset lift"
          }
        }
      }
    },
    "/lifts/{liftId}/status": {
      "put": {
        "summary": "Set the status of a specific lift",
        "parameters": [
          {
            "name": "liftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiftStatusUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lift status updated successfully"
          },
          "500": {
            "description": "Failed to set lift status"
          }
        }
      }
    },
    "/floors": {
      "get": {
        "summary": "List all floors",
        "responses": {
          "200": {
            "description": "List of all floors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Floor"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve floors"
          }
        }
      }
    },
    "/floors/active-calls": {
      "get": {
        "summary": "Get all active floor calls",
        "responses": {
          "200": {
            "description": "List of active floor calls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FloorCall"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed to retrieve active floor calls"
          }
        }
      }
    },
    "/floors/{floorNum}": {
      "get": {
        "summary": "Get status of a specific floor",
        "parameters": [
          {
            "name": "floorNum",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Floor status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Floor"
                }
              }
            }
          },
          "404": {
            "description": "Floor not found"
          }
        }
      }
    },
    "/floors/{floorNum}/call": {
      "post": {
        "summary": "Call a lift to a specific floor",
        "parameters": [
          {
            "name": "floorNum",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Call request accepted"
          },
          "404": {
            "description": "Floor not found"
          },
          "500": {
            "description": "Failed to call lift"
          }
        }
      }
    },
    "/floors/{floorNum}/reset": {
      "post": {
        "summary": "Reset the call buttons on a specific floor",
        "parameters": [
          {
            "name": "floorNum",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Floor buttons reset successfully"
          },
          "500": {
            "description": "Failed to reset floor buttons"
          }
        }
      }
    }
  }
}
